html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section,article,header {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
}
	
ol, ul {
	list-style: none;
	}

blockquote, q {
	quotes: none;
	}

:focus {
	outline: 0;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
	}
a{
	text-decoration: none;
}
.out{
	display: none;
}
.toTop{
	background-position: center -20px!important;
}



.flexBox{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 900;
}
.flexBox > div{
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-item: flex-center;
	-ms-flex-align: center;
	align-item: flex-center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: flex-center;
	-ms-flex-pack: center;
	justify-content: flex-center;
	background-color: #5a3b1e;
	width: 100%;
	height: 100%;
}
.progressBox{
	position: relative;
	padding: 5px;
	width: 250px;
	height: 30px;
	background-color: gray;
	z-index: 1000;
}
.progressBox > .box{
	width: 20px;
	height: 20px;
	border: 3px solid #fff;
	background-color: #fff;
	float: left;
}

.progressBox > .box.active{
	background-color: black;
}

.background{
	background-position: center bottom;
	background-repeat: no-repeat;
}
.rules{
	text-align: center;
	color: #f49f3e;
}
.rules h1{
	padding: 10px;
	font-size: 24px;
}
.rules p{
	padding: 10px;
	font-size: 13px;
}
.rules p.dec{
	line-height: 1.3em;
	color: #ae6565;
}
@media screen and (max-width: 360px){
	.rules {
		margin-top: 2.5em;
	}
	.rules h1{
		padding: 5px;
	}
	.rules p{
		padding: 5px;
	}
	.rules p.dec{
		line-height: 1em;
	}
}

.btn{
	background-color: #f49f3e;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	font-size: 16px
}

.recordPane{
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #6d2b15;
	height: 50px;
	padding: 9px;
	font-family: fantasy;
}
.recordPane img{
	width: 32px;
}
.recordPane > div{
	float: left;
	width: 30%;
	font-size: 16px;
	color: #f49f3e;
	text-align: center;
}
.recordPane span{
	font-size: 22px;
}




















